.Items{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    padding: 0 10px;
}
@media(max-width:500px)
{
    .Items{
        display: flex;
        flex-flow: column;
        font-size: 20px;
        color:yellowgreen;
    }
}