.Items{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;
    padding: 0 10px;
}
.NavbarItems{
    display: flex;
}
@media(max-width:500px)
{
    .Items{
        display: flex;
        flex-flow: column;
        font-size: 20px;
        color:black;
    }
    
.NavbarItems{
    display: flex;
flex-direction: column;
}
}