.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:linear-gradient(to right,#BF1AAF,#350389);
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100    ;
    box-sizing: border-box;
}
.DrawToggle{
    display: none;
}
@media(max-width:500px){
    .navbar{
        flex-flow: row-reverse;
    }
    .DrawToggle{
        display: block;
    }
    .DesktopOnly{
        display: none;
    }
}