.form{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
}
form>input{
    height: 30px;
}

.signInButton{
    background:linear-gradient(to bottom,#CD1AAF,#350384);
    border-radius: 2px;
    width: 100%;
    border: 1px solid;
    height: 30px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}