.Heading{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100hw;
}

.Heading h1 {
    margin: 8% 0;
    font-weight: bold;
}
.image{
    display: flex;
    margin:5%;
    justify-content: space-around;
}
.Form{
background-color: rgba(128, 84, 84, 0.5);
}